@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Theme Colors */
  :root {
    /* hsl formatının kullanım sebebi tailwind de renk opacity özelliğinin kullanılabilmesi için "bg-tra-primary/90" gibi */
    --tra-primary: 221 87% 52%;
    --tra-primary-soft: 221, 87%, 52%, 0.08;
    --tra-primary-hard: 221, 87%, 52%, 0.15;
    --tra-primary-focused: 221 84% 43%;
    --tra-primary-foreground: 0 0% 100%;
    --tra-primary-5: 220 100% 98%;
    --tra-primary-15: 223 100% 95%;
    --tra-primary-30: 223 100% 91%;
    --tra-secondary: 15 97% 60%;
    --tra-secondary-foreground: 0 0% 100%;
    --tra-secondary-light: 15 100% 96%;
    --tra-tetriary: 54 97% 60%;
    --tra-tetriary-foreground: 0 0% 12%;
    --tra-error: 0 100% 50%;
    --tra-error-foreground: 0 0% 100%;
    --tra-error-light: 0 100% 95%;
    --tra-success: 147 100% 40%;
    --tra-success-light: 146 72% 94%;
    --tra-warning: 54 76% 52%;
    --tra-warning-light: 54 100% 91%;
    --tra-input: 0 0% 87%;
    --tra-input-light: 225 14% 95%;
    --tra-input-focused:  221, 87%, 52%, 0.3;
    --tra-input-fill: 0 0% 100%;
    --tra-neutral: 0 0% 87%;
    --tra-neutral-light: 225 14% 95%;
    --tra-neutral-black: 0 0% 12%;
    --tra-neutral-light-black: 0 0% 25%;
    --tra-neutral-grey: 0 0% 60%;
    --tra-neutral-soft-grey: 0, 0%, 0%, 0.08;
    --tra-neutral-hard-grey: 0, 0%, 0%, 0.15;
    --tra-neutral-disabled-text: 223 12% 89%;
    --tra-neutral-white: 0 0% 100%;
    --tra-neutral-dark-white: 220 100% 99%;
    --tra-disabled: 221 40% 76%;
    --tra-disabled-dark: 221 20% 79%;
    --tra-disabled-light-dark: 221 54% 86%;
    --tra-disabled-light: 221 48% 91%;
    --tra-background: 0 0% 100%;
    --tra-button-disabled: 221 38% 95%;
    --tra-button-disabled-text: 223 20% 75%;
    --tra-button-text: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --border: 214.3 31.8% 91.4%;
    }

  /* Dark Theme Colors */
  .dark {
    --tra-primary: 221 92% 69%;
    --tra-primary-soft: 221, 92%, 69%, 0.08;
    --tra-primary-hard: 222, 92%, 70%, 0.15;
    --tra-primary-focused: 222 74% 62%;
    --tra-primary-foreground: 0 0% 100%;
    --tra-primary-5: 228 31% 19%;
    --tra-primary-15: 229 31% 28%;
    --tra-primary-30: 222 75% 82%;
    --tra-secondary: 15 97% 60%;
    --tra-secondary-foreground: 0 0% 100%;
    --tra-secondary-light: 6 29% 21%;
    --tra-tetriary: 54 97% 60%;
    --tra-tetriary-foreground: 0 0% 12%;
    --tra-error: 0 100% 50%;
    --tra-error-foreground: 0 0% 100%;
    --tra-error-light: 352 48% 17%;
    --tra-success: 147 100% 40%;
    --tra-success-light: 159 54% 15%;
    --tra-warning: 54 76% 52%;
    --tra-warning-light: 56 29% 19%;
    --tra-input: 0 0% 46%;
    --tra-input-light: 227 18% 21%;
    --tra-input-focused:  221, 92%, 69%, 0.3;
    --tra-input-fill: 229 19% 11%;
    --tra-neutral: 229 18% 36%;
    --tra-neutral-light: 221 18% 20%;
    --tra-neutral-black: 0 0% 100%;
    --tra-neutral-light-black: 0 0% 93%;
    --tra-neutral-grey: 0 0% 60%;
    --tra-neutral-soft-grey: 0, 0%, 100%, 0.08;
    --tra-neutral-hard-grey: 0, 0%, 100%, 0.15;
    --tra-neutral-disabled-text: 220 14% 58%;
    --tra-neutral-white: 0 0% 12%;
    --tra-neutral-dark-white: 220 14% 58%;
    --tra-disabled: 227 39% 24%;
    --tra-disabled-dark: 227 32% 39%;
    --tra-disabled-light-dark: 229 23% 14%;
    --tra-disabled-light: 227 39% 24%;
    --tra-background: 229 19% 11%;
    --tra-button-disabled: 229 31% 21%;
    --tra-button-disabled-text: 228 18% 44%;
    --tra-button-text: 0 0% 100%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --border: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border; /* set all border color */
  }
  body {
    @apply bg-background text-foreground; /*set body background and text color */ 
  }
}



/* ScrollBar Design Start */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F0F0F0;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F0F0F0;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5F5D5C;
}
/* ScrollBar Design End */

/* Calendar icon settings Start */
::-webkit-calendar-picker-indicator {
  display: none;
}
/* Calendar icon settings End */

/*Input Autofill Color Change Start*/
input:-webkit-autofill{
  -webkit-text-fill-color: black !important;
}

.dark input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover, 
  .dark input:-webkit-autofill:focus, 
  .dark input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #171922 inset !important;
}
/*Input Autofill Color Change End*/

.custom--dropdown-container .dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.MsiDatePicker-root input::-webkit-outer-spin-button,
.MsiDatePicker-root input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.MsiDatePicker-root input[type="number"] {
  -moz-appearance: textfield;
}

.MsiPagination-container input::-webkit-outer-spin-button,
.MsiPagination-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.MsiPagination-container input[type="number"] {
    -moz-appearance: textfield;
}
